@import "../lib/colors"

chat-window-height = 600px
message-input-height = 35px
message-input-margin-top = 5px

.chat-window
  width 100%
  height chat-window-height

  .messages
    padding 5px 10px
    background-color color-secondary-2-1
    height chat-window-height - (message-input-height + message-input-margin-top)
    overflow auto

    .message
      .sender
        font-weight bold

  .message-input-wrapper
    width 100%
    height message-input-height
    margin-top message-input-margin-top

    .input-group
      width 100%
      .message-input
        height message-input-height

      .input-group-btn
        width 1%

        .send-button
          height message-input-height
          background-color color-secondary-1-0
