@import "../lib/colors.styl"

.forum-topics
  margin-top 15px
  .forum-topic
    &.unread
      background-color color-primary-2
    margin-bottom 15px
    border-bottom 1px solid darkgray
    .topic-author
      font-size 12px

.topic-comments
  width 100%
  border-collapse separate
  border-spacing 0 2px
  .topic-comment
    &.initial
      background-color lighten(color-secondary-1-0, 70%)
    td
      padding 5px
      vertical-align top
      border 1px solid darkgray
    .info
      width 200px
      border-right none
    .message
      font-size 16px
