.homework
  .handed-in
    font-size 24px
    color orange
    &.handed-in-teacher
      font-size 14px
    &.verified
      color green
  .url-input
    width 500px
  .homework-header
    font-size 24px
  .feedback
    span
      font-weight bold
  .homework-mark
    &.homework-mark-2
      color red
    &.homework-mark-3
      color coral
    &.homework-mark-4
      color lightgreen
    &.homework-mark-5
      color green

span[data-student-homework-id]
  cursor pointer

// Duplicated in lectures.styl
.published-marker
  color orange
  &.published
    color green
