@import "../lib/colors.styl"
@import "../lib/common.styl"

body
  background-color color-primary-1

site-navigation-width = 300px

.site-navigation
  background-color color-secondary-1-0
  width site-navigation-width
  height 100%
  position fixed
  padding 10px

  .nav-header
    width 100%
    height avatar-size
    margin-bottom 10px

  .nav-link
    .btn-link
      color color-primary-1
      padding 0

.content
  margin-left site-navigation-width
  @media (min-width 768px)
    .container
      max-width 750px - site-navigation-width

  @media (min-width 992px)
    .container
      max-width 970px - site-navigation-width

  @media (min-width 1200px)
    .container
      max-width 1170px - site-navigation-width

  @media (min-width 1500px)
    .container
      max-width 1170px
