avatar-size = 70px
avatar-size-big = 200px

.dark-separator
  border-color darkgray

.vertical-align-top
  vertical-align top

.vertical-align-sub
  vertical-align sub

.avatar
  width avatar-size
  height auto
  background-color white
  &.avatar-big
    width avatar-size-big
    height auto
  img
    width 100%

.display-inline
  display inline

.vertical-align-super
  vertical-align super
